@import "tailwindcss";

/* Tailwind v4 dark mode setup */
@custom-variant dark (&:where(.dark, .dark *));

/* Global page style */
html,
body {
  @apply w-full h-full m-0 p-0;
}

body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}

/* Button default */
button {
  @apply rounded px-4 py-2 transition;
}
